*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    width: auto;
    font-family: sans-serif;
}

header button{

    border: none;
    width: 100px;
    background-color: black;
    color: white;
    padding: 12px;
    font-size: 12px;
    font-weight: 300;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 700px;
    width: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.01),
    rgba(0, 0, 0, 0.05)), url("images/11.png");
    background-size: cover;
    background-position: center;
}

.container .intro{

    
    flex-direction: column;
    justify-content: center;
    margin-left: 8em;
}
.container .intro h2{

    color: white;
    font-family: sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 55px;
}
.container .intro h1{

    color: #151515;
    font-family: sans-serif;
    font-weight: 00;
    font-size: 65px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container .intro a button{

    color: black;
    width: 230px;
    font-weight: 400;
    font-size: 15px;
    padding: 20px 40px;
    margin-top: 10px;
    border-style: none;
    
}


.logo{

    width: 80px;
}

header{

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;

}

nav ul li{

    display: inline-block;

}

header nav ul li a{
    font-size: 18px;
    font-weight: 300;
    color: black;
    padding: 20px;
}

a button:hover{

    cursor: pointer;
}

.show{
    margin-top: 4em;
    margin-bottom: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.show img{

    margin: 10px;
}

.show h6{

    padding: 5px 25px;
    color: black;
    font-size: 20px;
    letter-spacing: -0.4px;
    font-weight: 500;
    font-family: sans-serif;

}

.show h5{

    padding: 0px 25px;
    color: #505050;
    font-size: 18px;
    letter-spacing: -0.4px;
    font-weight: 500;
    font-family: sans-serif;
    margin-bottom: 2em;
}


.show button{

    color: black;
    font-weight: 400;
    font-size: 15px;
    padding: 15px 25px;
    background-color: lightgray;
    border-style: none;
    margin-left: 20px;
}

.headeri1{
    margin-top: 2em;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    color: #404040;
}

.bar{

    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.5)), url("images/sales.png");
    height: 400px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 4em;
    margin-bottom: 4em;
}

.bar h2{

    color: white;
    font-family: sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 50px;
}
.bar h4{

    color: white;
    font-family: sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 25px;
}

.barbtn{

    color: black;
    font-weight: 400;
    font-size: 17.5px;
    padding: 15px 60px;
    margin-top: 10px;
    border-style: none;
    letter-spacing: 2px;
}

.title1{
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

footer{

    background-color: #404040;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;



}  

footer ul h5{

    margin-bottom: 25px;
    color: white;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 15px;

}

footer ul li h6{

    

    padding-bottom: 10px;
    color: white;
    font-size: 15px;
    font-weight: 400;
    font-family: sans-serif;
    line-height: 35px;
}



footer ul li a{

        

    color: white;
    font-size: 15px;
    font-weight: 400;
    font-family: sans-serif;
    line-height: 30px;
}

.sponsors{

    justify-content: center;
    margin-top: 4em;
    margin-bottom: 4em;
}
.sponsors .images{

    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.sponsors img{

    margin: 37px;
}

.dev{

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product-container{

    margin-top: 3em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
}

.product-container .product-image{

    display: flex;
    flex-direction: column;

}

.product-container .product-image .main-img{

    margin-top: 5em;
    margin-bottom: 5em;
    margin: 0.5em;
    border: solid;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.1);

} 

.product-container .product-image .main-img:hover{

    border-color: rgba(0, 0, 0, 0.2);


} 


.product-description{
    margin-top: 5.5em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column; 
    padding-right: 2em;

}

.product-description h2{

    margin-bottom: 20px;
    color: black;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
}

.product-description h4{
    margin-bottom: 20px;
    color: black;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 27.5px;
    line-height: 30px;
    text-transform: uppercase;
    width: 92%;

}

.product-description h6{
    margin-bottom: 30px;
    color: black;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 15px;
    line-height: 22px;
    text-transform: uppercase;

}

.product-description #brown{

    background-color: brown;
    padding: 12px 12px;
    margin-right: 20px;
    border-style: solid;
    border-width: 1px;
    border-color:  black;
    border-radius: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

}

.product-description #black{

    background-color: black;
    padding: 12px 12px;
    margin-right: 20px;
    border-style: solid;
    border-width: 1px;
    border-color:  black;
    border-radius: 100%;
    margin-top: 30px;
    margin-bottom: 30px;


}

.product-description #white{

    background-color: White;
    padding: 12px 12px;
    margin-right: 20px;
    border-style: solid;
    border-width: 1px;
    border-color:  black;
    border-radius: 100%;
    margin-top: 30px;
    margin-bottom: 30px;


}

hr{

    width: 92%;
    height: 2px;
    background-color: #404040;
}

#brown:hover{

    cursor: pointer;
}
#black:hover{

    cursor: pointer;
}
#white:hover{

    cursor: pointer;
}

.size-btn{

    display: flex;
    flex-direction: row;
}

.size-btn button{

    color: black;
    font-weight: 400;
    font-size: 14px;
    padding: 10px 53.5px;
    margin-top: 30px;
    border-style: none;
    letter-spacing: 2px;
    margin-right: 12px;
}

.size-btn button:hover{

    transition: 0.5s;
    color: white;
    background-color: #222222;
    cursor: pointer;
}

.ordbtn{

    color: white;
    font-weight: 400;
    font-size: 18px;
    padding: 15px 40px;
    margin-top: 30px;
    border-style: none;
    letter-spacing: 4px;
    margin-right: 10px;
    background-color: #222222;
    width: 92%;
}

.ordbtn:hover{

    background-color:white;
    color: black;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}